{% extends "admin/index.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block coltype %}col-dashboard{% endblock %}

{% block content %}
<div id="content-main">
{% block object-tools %}
{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    {% if has_delete_permission %}<li><a href="delete/" class="deletelink">{% trans "Delete" %}</a></li>{% endif %}
    {% if can_edit_details %}<li><a href="edit_details/" class="editdetailslink">{% trans "Edit details" %}</a></li>{% endif %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}
{% endblock %}
{% block dashboard-content %}
{% endblock %}
</div>
{% endblock %}


{% block sidebar %}{% endblock %}