{% extends "admin/multilingual/change_form.html" %}
{% load i18n hierarchicaladmin %}

{% block breadcrumbs %}
{% if not is_popup %}
    <div class="breadcrumbs">
         {% hierarchical_breadcrumbs parent_chain "../" %}
         {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
         {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
    </div>
{% endif %}
{% endblock %}